version: "3.8"

services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--log.level=DEBUG"

      - "--providers.docker=true"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedbydefault=false"

      - "--entrypoints.websecure.address=:443"

      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=${ACME_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"

      # (opcional) si vas a enrutar a backends https con cert self-signed
      - "--serversTransport.insecureSkipVerify=true"

    environment:
      DOCKER_API_VERSION: ""

    ports:
      - "443:443"
      - "8080:8080"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt

    networks:
      - default

    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_web
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

    volumes:
      - static-data:/app/staticfiles
      - media-data:/app/media

    networks:
      - default

    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"

    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.bass.rule=Host(`bass.foxbase.com.mx`)"
      - "traefik.http.routers.bass.entrypoints=websecure"
      - "traefik.http.routers.bass.tls=true"
      - "traefik.http.routers.bass.tls.certresolver=myresolver"
      - "traefik.http.routers.bass.priority=10"

      - "traefik.http.services.bass.loadbalancer.server.port=8000"

      - "traefik.http.routers.bass.middlewares=bass-errors@docker"
      - "traefik.http.middlewares.bass-errors.errors.status=500-599"
      - "traefik.http.middlewares.bass-errors.errors.service=error-pages-svc"
      - "traefik.http.middlewares.bass-errors.errors.query=/503.html"

  db:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - default

    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10

  error-pages:
    image: nginx:alpine
    container_name: error_pages
    restart: unless-stopped
    volumes:
      - ./templates/errors:/usr/share/nginx/html:ro
    networks:
      - default

    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"

    labels:
      - "traefik.enable=true"
      - "traefik.http.services.error-pages-svc.loadbalancer.server.port=80"

      - "traefik.http.routers.bass-fallback.rule=Host(`bass.foxbase.com.mx`) && PathPrefix(`/`)"
      - "traefik.http.routers.bass-fallback.entrypoints=websecure"
      - "traefik.http.routers.bass-fallback.tls=true"
      - "traefik.http.routers.bass-fallback.tls.certresolver=myresolver"
      - "traefik.http.routers.bass-fallback.priority=1"
      - "traefik.http.routers.bass-fallback.service=error-pages-svc"

      - "traefik.http.routers.bass-fallback.middlewares=bass-fallback-rewrite@docker"
      - "traefik.http.middlewares.bass-fallback-rewrite.replacepath.path=/503.html"

volumes:
  postgres-data:
  static-data:
  media-data:

networks:
  default:
    driver: bridge
